*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background: rgba(244,245,244,255);
}

a {
   text-decoration: none !important;
}

/* Navbar Page */
.navbar {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border: 0;
  border-bottom: 1.5px solid rgba(125, 129, 132, 0.3);
  position: sticky;
  top: 0;
  z-index: 9;

  & .navbar-head {
    letter-spacing: 2px;
  }
}

/* .navbar {
  position: fixed !important;
  z-index: 2;
  width: 100%;
} */

.nav-page {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;

  & .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
}

.dropdown-menu {
  right: 0;
}

.pages-main {
  position: relative;
  
  & .keeper-title{
    background-image: linear-gradient(90deg, rgba(255, 204, 230, 1) 0%, rgba(255, 204, 230, 1) 100%);
    & .keeper-text {
      padding: 50px 0;
      text-align: center;
      margin: auto;
    }

  }
}


.favorite {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  background-color: rgba(90, 90, 90, 0.6);
  border-radius: 50%;
  height: 30px;

  & .bi-heart::before {
    padding: 8px 0;
    color: white;
  }

  & .bi-heart-fill::before {
    padding: 8px 0;
    color: #ff484c;
  }
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.btn-primary {
  background-color: #ffbaba !important;
  color: black;
  border: #ffbaba !important
}
.btn:hover {
  background-color: #f79999 !important;
  color: black;
}
.btn:active {
  color: black !important;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #f79999;
  background-color: transparent;
  text-decoration: underline;
}
/* a:active {
  background-color: #ffbaba;
} */


.navbar-toggler:hover {
  border-color: #5e5e5e;
}

.dropdown-item:hover {
  background-color: #ffd1d1;
}

.keeper {
  width: 300px !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  & img {
    /* padding: 0.5rem; */
    object-fit:  cover;
    width: 100%!important;
    height: 200px!important;
    
  }
}
/* @media (min-width: 768px) {
  .keeper {
    width: 300px !important;
    & img {
      object-fit:  cover;
      width: 100%!important;
      height: 200px!important;
    }
    & span {
      margin: 0 10px;
    }
  }
} */

.search-keeper {
  & label {
    left: auto;
  }
}

.prev-icon, .next-icon {

  background: white !important;
  font-size: 1.2rem !important;
  padding: 0.6rem 0.8rem !important; 
  min-width: auto !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  /* color: black !important; */
}

.prev-icon:hover, .next-icon:hover {
  /* background: #EEEEFF !important; */
  transform: scale(1.1) !important;
} 

.wrapper {
  width: auto;
  margin: 10px;
  border-radius: 20px;
  /* top: 100px; */
}

.cover {
  height: 300px;
}

.cover img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-img {
  width: 200px;
  height: 100px;
  border-radius:50%;
  position: relative;
  top: -100px;
  left: 30px
}

.test {
  width: auto;
  height: auto;
  position: relative;
  top: -100px;
  left: 30px
}

.pic {
  width: 100%;
  height: 200px;
}

.keeperpic {
  width: auto;
  margin: 5px;
  border-radius: 20px;
  background-color: gray;
}

.keepercontact {
  width: auto;
  margin: 5px;
  border-radius: 20px;
  background-color: gray;
  
}

.keeperdetail {
  width: auto;
  margin: 5px;
  border-radius: 20px;
  background-color: gray;
  display: flex;
}

.keepermap {
  /* width: auto; */
  margin: 5px;
  border-radius: 20px;
  background-color: gray;
}

.keeperreview {
  /* width: auto; */
  margin: 5px;
  border-radius: 20px;
  background-color: gray;
}

.keeperrating {
  /* width: auto; */
  margin: 5px;
  border-radius: 20px;
  background-color: gray;
}

.carousel {
  position: relative;
  margin: 0 auto;
}

.slick-track {
  margin-left: 0 !important;
  cursor: pointer;
}

.slider-for {
  margin-top: 16px;

  & img {
    width: 100%;
    /* height: 300px; */
    object-fit: contain;
  }
}

.slider-nav {
  margin: 16px 0;

  & img {
    line-height: 100px;
    padding: 3%;
    position: relative;
    height: 50px;
    object-fit: contain;
  }

}

@media (min-width: 992px) {

  .slider-for {
    & img {
      width: 100%;
      height: 500px !important;
      /* height: auto !important; */
      object-fit: contain;
    }
  }
  
  .slider-nav {
    & img {
      width: 100% !important;
      line-height: 100px;
      padding: 3%;
      position: relative;
      /* height: 100px !important; */
      object-fit: contain;
    }

  }
}
@media (min-width: 768px) {

  .slider-for {
    /* position: absolute;
    width: 100%;
    top: 0;
    left: 110px;
    margin-top: 16px; */

    & img {
      width: 100%;
      height: 300px;
      object-fit: contain;
    }
  }
  
  .slider-nav {
    /* position: absolute;
    top: 50%;
    left: 0;
    width: 100px;
    margin: 30px 0; */

    & img {
      line-height: 100px;
      padding: 3%;
      position: relative;
      height: 80px;
      object-fit: contain;
    }

  }
}

@media (max-width: 767px) {
  .slider-for {
    & img {
      width: 100%;
      height: 200px;
      object-fit: contain;
    }
  }
  
  .slider-nav {
    & img {
      line-height: 100px;
      padding: 3%;
      position: relative;
      height: 50px;
      object-fit: contain;
    }

  }
}

.slick-prev:before, .slick-next:before {
  color: white !important;
}

.slick-next {
  right: 0 !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 999px !important;
  padding: 8px !important;
  margin-right: 5px !important;
  width: 35px !important;
  height : 35px !important;

}
.slick-prev {
  left: 0 !important;
  z-index: 1;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 999px !important;
  padding: 8px !important;
  margin-left: 5px !important;
  width: 35px !important;
  height : 35px !important;
}

.slick-disabled {
  display: none !important;
}


.bg-shadow {
  /* box-shadow: 2px 1px 3px 3px rgba(0, 0, 0, 0.05); */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;

}

.keeper-detail {
  padding: 3rem;

}

.table {
  & tr {
    border-color: rgba(0, 0, 0, 0.150); ;

  }
}

.rating {
  & .bi-star-fill::before, .rating-score {
    color: rgb(244,110,20) !important;
    font-size: 20px;
  } 
}