@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import "rsuite/dist/rsuite.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
	 /* Basic */
	--c-white: #fff;
	--c-black: #000;

	/* Greys */
	--c-ash: #eaeef6;
	--c-charcoal: #a0a0a0;
	--c-void: #141b22;

	/* Beige/Browns */
	--c-fair-pink: #FFEDEC;
	--c-apricot: #FBC8BE;
	--c-coffee: #754D42;
	--c-del-rio: #917072;

	/* Greens */
	--c-java: #1FCAC5;

	/* Purples */
	--c-titan-white: #f1eeff;
	--c-cold-purple: #a69fd6;
	--c-indigo: #6558d3;
	--c-governor: #4133B7;  

  /* blue */
  --c-blue-white: #e0eaff;
  --c-blue-gray: #f4f8fd;
  --c-blue-light: #28aadf;
  --c-blue-sky: #3074fe;
  --c-blue: #187bcd;
  --c-blue-semidark: #0741AD;
  --c-blue-dark: #03254c;

}

body {
  /* font-family: 'Spline Sans', sans-serif !important; */
  font-family: 'Noto Sans Thai Looped', sans-serif !important;
  /* font-family: Arial, sans-serif !important; */
  position: relative;
  background-color: #eef3fd;
  /* background: #f5f5f5; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
   text-decoration: none !important;
} 

p {
  font-size: 16px;
  color: #5e5e5eba;
}

/* Navbar Page */
.navbar {
  padding-top: 1em;
  padding-bottom: 1em;
  border: 0;
  /* text-transform: uppercase; */
  /* border-bottom: 1.5px solid rgba(125, 129, 132, 0.3); */
  position: sticky;
  top: 0;
  /* z-index: 1200;  */
  z-index: 1001; 
  background-color: white;
  box-shadow: 0 0 4px rgba(0,0,0,.3);

  & .navbar-head {
    font-family: 'Kanit', sans-serif; 
    letter-spacing: 2px;
    color: var(--c-blue-sky);
    font-weight: bold;
    text-transform: uppercase;
    /* font-size: x-large; */

    & .logo-content p{
        font-size: 22px;
        line-height: 1;
    }
  }

}

.navbar>.MuiContainer-root {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.icon-container {
  position: relative;
  display: inline-block;
  padding : 6px 8px;

  & .circle {
    width: 35px; /* Adjust size as needed */
    height: 35px; /* Adjust size as needed */
    border-radius: 50%; /* Makes it a circle */
    background-color: var(--c-blue-gray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  & .calendar-icon {
    color: var(--c-blue-sky);
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
  }
}

.booking {
  color: var(--c-blue-sky);
}

/* .rs-picker-popup {
    left: 798.48px !important;
    top: 1347.81px;

} */

@media (max-width: 600px) {

  .rs-picker-popup .rs-calendar:first-child {
    border-right: none !important;
}
  .rs-picker-popup .rs-calendar {
    margin: 0 !important;
  }

  .rs-picker-daterange-calendar-group {
    display: flex;
    flex-direction: column;
    height: auto !important;
    min-width: auto !important;
  }
  
  .rs-picker-daterange-panel {
    min-width: 0 !important;
  }
}

.css-1pqm26d-MuiAvatar-img {
  /* width: auto !important; */
  width: 12rem !important;
  height: 12rem !important
}


/* .navbar {
  position: fixed !important;
  z-index: 2;
  width: 100%;
} */

.nav-page {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;

  & .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 18px;
}
}

.sort-list .rs-btn-default, .distance-list .rs-btn-default{
  background-color: white !important;
  border: 1px solid var(--rs-border-primary) !important;
}

.distance-list {
  margin-left: 1rem;
}

.dropdown-menu {
  right: 0;
}

.page-banner {
  position: relative;
  overflow: hidden ;
  height: 30rem;
  /* background: linear-gradient(180deg, rgba(174, 216, 254, 1) 0%, rgba(155, 201, 252, 1) 52%, rgba(147, 192, 246, 1) 100%); */
  border-radius: 2rem;
  margin-top: 20px;
  background-image: url("https://i.imgur.com/5Gm24Kq.jpg") ;
  opacity : 90%;
  background-repeat: no-repeat ;
  background-size: cover;
  background-position: center bottom;

  & .banner-content {
    padding-top: 50px;
    text-align: center;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  & .image-banner img{
    position: absolute;
    right: 0;
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }

  & .title {
    position: relative;
    z-index: 3;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  & h1 {
    font-size: 80px;
  }
  & h3 {
    font-weight: 200;
  }
}

@media(min-width: 1200px) {
  .image-banner img{
    position: absolute;
    right: -8rem !important;
    height: 50vh;
    /* width: 100%; */
    width: auto !important;
    object-fit: cover;
  }
}

.favorite {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  background-color: rgba(90, 90, 90, 0.6);
  border-radius: 50%;
  height: 30px;

  & .bi-heart::before {
    padding: 8px 0;
    color: white;
  }

  & .bi-heart-fill::before {
    padding: 8px 0;
    color: #ff484c;
  }
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.btn-primary {
  background-color: var(--c-blue-sky) !important;
  border: var(--c-blue-sky) !important;
  /* border-radius: 9999px; */
  padding: .625rem 1.25rem;
}

.form-password {
  position: relative;
  & .toggle-password {
    position: absolute;
    top: 5%;
    right: 15px;
    opacity: 0.5;
    cursor: pointer;
  }
}

/* .btn-primary {
  background-color: #ffbaba !important;
  color: black;
  border: #ffbaba !important
}
.btn:hover {
  background-color: #f79999 !important;
  color: black;
}
.btn:active {
  color: black !important;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #f79999;
  background-color: transparent;
  text-decoration: underline;
} */
/* a:active {
  background-color: #ffbaba;
} */
.edit-notImage {
  /* margin: 0 auto; */
  margin: auto;
  display: flex !important;
  /* align-items: center; */
  height: 100% !important;
  opacity: 0.5;
  width: 70px !important;
  color: var(--c-blue-sky);
}
/* .notImage {
  height: 200px!important;
  margin: 0 auto;
  width: 50px;
  opacity: 0.5;
} */

.navbar-toggler:hover {
  border-color: #5e5e5e;
}

.dropdown-item:hover {
  background-color: var(--c-blue-white);
}

.keeper {
   /* width: 300px; */
  max-width: 300px;
  min-height: 100%;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s;

  & img {
    object-fit:  cover;
    width: 100%!important;
    height: 220px!important;    
  }

  & .notImage {
    height: 200px!important;
    margin: 0 auto;
    width: 50px;
    opacity: 0.5;
  }
}

.keeeper-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .distance-keeper {
    color: #5e5e5eba;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* .keeper-tag {
  display: block !important;
  & div {
    background-color: var(--c-blue-white);
    color: var(--c-blue);
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0.5em 0.75em;
    line-height: 1;
    border-radius: 6px;
  }
} */

.keeper-tag {
  background-color: var(--c-blue-white) !important;
  color: var(--c-blue) !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  padding: 0.5em 0.75em !important;
  line-height: 1 !important;
  border-radius: 6px !important;
  margin-bottom: 8px !important;
}

.rs-tag {
  position: relative !important;
  background-color: var(--c-blue-white) !important;
  color: var(--c-blue) !important;
  font-weight: 600 !important;
  font-size: 0.875rem !important;
  padding: 0.5em 0.75em !important;
  line-height: 1 !important;
  border-radius: 6px !important;
  /* padding-right: 25px !important; */
}
.rs-tag-icon-close {
  height: 100% !important;
}


.keeper:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(51, 64, 183, 0.25);
}

.bg-shadow {
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px; */
  box-shadow: 20px 25px 20px -25px rgba(51, 64, 183, 0.25);
}
@media (max-width: 1024px) {
  .filter-panel {
    flex: 0 0 25% !important;
    min-width: 0;
    margin: 0 1.25rem 1.25rem 0;
  }
}
@media (max-width: 768px) {
  .keeper-panel {
    display: flex;
    flex-direction: column;
  }

  .filter-panel {
    flex: 1 !important;
    min-width: 0;
  }
  
}

.keeper-panel {
  display: flex;
}
.filter-panel {
  flex: 0 0 20%;
  min-width: 0;
  margin: 0 1.25rem 1.25rem 0;
}

.keeper-list {
  flex: 1;
}

.sort-list {
  display: flex;
}

.sort-active {
  background-color: var(--c-blue-sky) !important;
  color : white !important;
}


.rating-icon {
  background-color: inherit;
  padding: 5px 2px;
  transition: background-color 0.3s ease-in;
}

.rating-active {
  background-color: var(--c-blue-white);
  padding: 5px 2px;
  /* transition: all 0.2s ease; */
}

.blue-btn button{
  background-color: var(--c-blue-sky) !important;
}

.person-icon {
  color: var(--c-blue-sky);
  /* width: 50px !important; */
  font-size: 2.3rem !important;
}

@media (max-width: 768px) {
  .keeper-list {
    text-align: -webkit-center; 
  }
}

/* @media (min-width: 768px) {
  .keeper {
    width: 300px !important;
    & img {
      object-fit:  cover;
      width: 100%!important;
      height: 200px!important;
    }
    & span {
      margin: 0 10px;
    }
  }
} */

.pet-category h3{
  border-width: 3px !important;
  /* border-bottom: 1px solid #a8a8a8ba !important; */
}

.pointer {
  cursor: pointer;
}

.search-keeper {
  width: 300px !important;
  margin-right: 1rem !important;
}

@media (max-width: 768px) {
  .search-keeper {
    width: 200px !important;
    margin-right: 1rem !important;
  }
}

.search {
  margin: auto 0;
}

.css-nwaqee {
    margin-right: 0 !important;
}
.prev-icon, .next-icon {

  background: white !important;
  font-size: 1.2rem !important;
  padding: 0.6rem 0.8rem !important; 
  min-width: auto !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25); */
  /* color: black !important; */
}

/* .prev-icon:hover, .next-icon:hover {
  transform: scale(1.1) !important;
}  */

.wrapper {
  width: auto;
  margin: 10px;
  border-radius: 20px;
  /* top: 100px; */
}

.cover {
  height: 300px;
}

.cover img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-img {
  width: 200px;
  height: 100px;
  border-radius:50%;
  position: relative;
  top: -100px;
  left: 30px
}

.profile-info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .profile-info-image {
    border: 3px solid var(--c-blue);
    border-radius: 50%;
    padding: 5px;
  }

  & .profile-info-title-detail {
    margin-top: 1em;

    & div {
      margin-top: 0.75rem;
      display: flex;
      justify-content: center;
    }
  }
}

.profile-infomation {
  & h5 {
    margin: 20px 0 15px 0;
  }

  & .profile-infomation-detail table{
    width: 100%;
    table-layout: auto;
    border-spacing: 0 15px; /* horizontal and vertical spacing */
    border-collapse: separate;

    & td {
      max-width: 200px; /* adjust as needed */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    & p {
      margin: 0;
    }

    & .info {
      color: #141b22;
      text-align: right;
    }
  }
  /* & .profile-infomation-detail > .profile-warpper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;

    & p {
      margin: 0;
    }

    & .info {
      color: #141b22;
    }
  } */
}

.person-navbar {
  margin-left: 5px;
}

.profile-favorite {
  & h4 {
    margin-bottom: 20px;
  }
  & .profile-favorite-list-all {
    height: 450px;
    overflow: auto;
    & .profile-favorite-list {
      /* cursor: pointer; */
      display: flex;
      padding: 15px 0;
      padding-bottom: 10px;
      border: 3px solid var(--c-blue-gray);
      border-top: 0;
      border-left: 0;
      border-right: 0;
      /* align-items: center; */
      & .profile-favorite-imge img{
        cursor: pointer;
        width: 220px;
        height: 150px;
        object-fit: cover;
        border-radius: 5px;
      }
    
      & .profile-favorite-content {
        align-items: center;
        padding-left: 24px;
        
      }
      & .favorite-icon {
        margin-right: 20px;
      }

    }
  
    & .profile-favorite-list:hover {
      background-color: var(--c-blue-gray);
    }
  }
}

.favorite-icon {
  margin: 0 0 0 auto;
  color: rgb(255, 66, 79);
  & svg {
    cursor: pointer;
  }
}
.upload-file-input {

  & .rs-uploader-trigger-disabled {
    display: none;
  }
  
  & .rs-uploader-picture .rs-uploader-trigger-btn {
    width: 150px;
    height: 150px;
  }
  
  & .rs-uploader-picture .rs-uploader-file-item {
    width: 150px !important;
    height: 150px !important;
  }
  
  & .rs-uploader-picture .rs-uploader-file-item-preview {
    height: 150px !important;
  }
}

.profile-menu {
  & li p{
    font-size: 14px !important;
  }

  & li svg{
    font-size: 20px !important;
  }

}

.rs-dropdown-item-focus {
  background-color: rgba(204, 233, 255, 0.5) !important;
  & svg, a {
    color: #1675e0 !important;
  }
}

/* .profile-menu:hover {
  background-color: rgba(204, 233, 255, 0.5) !important;
  color: #1675e0 !important;
} */

.test {
  width: auto;
  height: auto;
  position: relative;
  top: -100px;
  left: 30px
}

.pic {
  width: 100%;
  height: 200px;
}

.keeperpic {
  width: auto;
  margin: 5px;
  border-radius: 20px;
  background-color: gray;
}

.keepercontact {
  width: auto;
  margin: 5px;
  border-radius: 20px;
  background-color: gray;
  
}

.keeperdetail {
  width: auto;
  margin: 5px;
  border-radius: 20px;
  background-color: gray;
  display: flex;
}

.keepermap {
  /* width: auto; */
  margin: 5px;
  border-radius: 20px;
  background-color: gray;
}

.keeperreview {
  /* width: auto; */
  margin: 5px;
  border-radius: 20px;
  background-color: gray;
}

.keeperrating {
  /* width: auto; */
  margin: 5px;
  border-radius: 20px;
  background-color: gray;
}

.carousel {
  position: relative;
  margin: 0 auto;
}

.slick-track {
  margin-left: 0 !important;
  cursor: pointer;
}

.slider-for {
  margin-top: 16px;

  & img {
    width: 100%;
    /* height: 300px; */
    object-fit: contain;
  }
}

.slider-nav {
  margin: 16px 0;

  & img {
    line-height: 100px;
    /* padding: 3%; */
    position: relative;
    height: 50px;
    object-fit: contain;
  }

}

@media (max-width: 992px) {
  .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    display: none !important;
  }
}

@media (min-width: 992px) {

  .dropdown-menu.show {
    display: none ;
}

  .slider-for {
    & img {
      width: 100%;
      height: 500px !important;
      /* height: auto !important; */
      object-fit: contain;
    }
  }
  
  .slider-nav {
    & img {
      width: 100% !important;
      line-height: 100px;
      /* padding: 3%; */
      position: relative;
      /* height: 100px !important; */
      object-fit: contain;
    }

  }
}
@media (min-width: 768px) {

  .slider-for {
    /* position: absolute;
    width: 100%;
    top: 0;
    left: 110px;
    margin-top: 16px; */

    & img {
      width: 100%;
      height: 300px;
      object-fit: contain;
    }
  }
  
  .slider-nav {
    /* position: absolute;
    top: 50%;
    left: 0;
    width: 100px;
    margin: 30px 0; */

    & img {
      line-height: 100px;
      /* padding: 3%; */
      position: relative;
      height: 80px;
      object-fit: contain;
    }

  }
}

@media (max-width: 767px) {
  .navbar-head {
    letter-spacing: 0 !important;
  }
  .slider-for {
    & img {
      width: 100%;
      height: 200px;
      object-fit: contain;
    }
  }
  
  .slider-nav {
    & img {
      line-height: 100px;
      /* padding: 3%; */
      position: relative;
      height: 50px;
      object-fit: contain;
    }

  }
}

.slick-prev:before, .slick-next:before {
  color: white !important;
}

.slick-next {
  right: 0 !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 999px !important;
  padding: 8px !important;
  margin-right: 5px !important;
  width: 35px !important;
  height : 35px !important;

}
.slick-prev {
  left: 0 !important;
  z-index: 1;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 999px !important;
  padding: 8px !important;
  margin-left: 5px !important;
  width: 35px !important;
  height : 35px !important;
}

.slick-disabled {
  display: none !important;
}

.keeper-detail {
  padding: 3rem;

}

.table {
  & tr {
    border-color: rgba(0, 0, 0, 0.150); ;

  }
}

.rating {
  display: flex;
  align-items: center;
  
  & .bi-star-fill::before, .rating-score {
    color: rgb(244,110,20) !important;
    font-size: 20px;
  } 
}

.arrow-icon {
  transition: transform 0.2s ease !important;
}

.rotate-up {
  transform: rotate(0);
}

.rotate-down {
  transform: rotate(180deg);
}

.main-container {
  min-height: calc(100vh - 60px);
  position: relative;
  /* padding-bottom: 60px; */
}

footer {
  position: absolute;
  width: 100%;
  /* bottom: 0; */
}

.footer-container {
  background-color: #c4d5fb;
  color: black;
}

.footer-warpper {
  background-color: rgba(18, 124, 254, 0.659)
  
}

.footer-header {
  font-weight: bold;
  color: var(--c-blue-sky);
}

.list-unstyled {
  li {
    display: flex;
    margin-bottom: 10px;
    svg {
      margin-right: 0.5rem;
      color: var(--c-blue-sky);
    }
  }
}

.error-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: var(--bs-form-invalid-color);
}

.autocomplete {
  & div {
    width: 100% !important;
  }
  & input {

    width: 100% !important;
    height: auto !important;
    font-family: IBM Plex Sans,sans-serif;
    font-size: 0.875rem !important;
    font-weight: 400;
    line-height: 1.5;
    padding: 12px 12px;
    border-radius: 8px !important;
    color: #1C2025;
    background: #fff;
    border: 1px solid #DAE2ED !important;
    box-shadow: 0px 2px 2px #F3F6F9;
  }

  & input:hover{
    border-color: #3399FF;
  }

  & input:focus {
    outline: 0;
    border-color: #3399FF;
    box-shadow: 0 0 0 3px #b6daff;
  }
}

.MuiSelect-root {
  width: 100%;
  font-family: IBM Plex Sans, sans-serif !important; 
  color: #757778 !important;
  background-color: white !important;
}

.MuiSelect-root:hover {
  color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg) !important;
  border-color: #86b7fe !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25) !important;
}

.react-tel-input .is-invalid {
  border-color: var(--bs-form-invalid-border-color) !important;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right calc(0.375em + 0.1875rem) center !important;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.about-title {
  text-align: center;

   & .about-detail {
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      font-size: 200px;
      color: #f79999;
    }
   }
}

.upload-image {
  border: 1.7px dashed !important;
}

.gallery-wrapper {
  border : 2px dashed #F05941;
  border-radius: 15px;
  padding-bottom: 35px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  padding: 35px 30px;
  text-align: center;
  align-items: center;

  & .gallery-list {
    /* border: 1px solid black; */

    & .add-gallery {
      opacity: 0.8;
      font-size: 150px;
      border: 2px solid #3399FF;
      border-radius: 15px;
      color: #3399FF;
    }
  }
}

.grid-autofill {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 50px;
  column-gap: 10px;
}

.profile-icon {
  margin-right: 8px;
  color: #5e5e5e;
}

.close-gallery {
  color: white;
  border: 1px solid #ff484c;
  border-radius: 50%;
  background-color: #ff484c;
}

.role-list {
  display: flex;
  justify-content: center;
  align-items: center;

  & .select-role {
    cursor: pointer;
    & .card {
      color: #757778;
      border: 3px solid var(--c-blue-white);
      height: 150px;
      
      & .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
      /* border-style: var(--c-charcoal); */
      /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
    }
  }

  & .active {
    & .card {
      background-color: var(--c-blue-white);
      border-color: var(--c-blue-sky);
      color: var(--c-blue-sky);
    }
  }
}

.button-continue {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  & div {
    border-radius: 9999px;
  }
}

.leaflet-container {
  height: 100vh !important;
}

#map {
  height: 350px !important;
  z-index: 9;
}

#map-container {
  height: 200px !important;
  width: 100%;
}

#map-editer {
  height: 300px !important;
  width: 100%;
}

.leaflet-routing-alternatives-container {
  display: none !important;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  display: flex;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.favorite-keeper {
  width: 300px;
}

.movedown-transition {
  animation: transitionIn 0.6s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0deg);
  }
} 

.request-size p {
  font-size: 15px !important;
}

.status-open {
  color: #57BF00;
}

.status-close {
  color: #FEBC25;
}

.image-status {
  position: relative;
  & .status-close, .status-open {
    position: absolute;
    font-size: 12px;
    top: 8px;
    left: 8px;
    background-color: white;
    padding: 4px 8px;
    border-radius: 20px;
  }
}